.videoStream {
	margin: 10px 20px;
	height: 520px;
	width: 100%;
	position: relative;
}
.videoStream video{
	position: absolute;
    top: 0;
	left: 0;
	z-index: -1;
}
.videoStream canvas{
	position: absolute;
    top: 0;
	left: 0;
	z-index: 1;
}
.btn{
	width: 100px;
	margin-left: 20px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
}
.management > div{
	margin: 20px;
}
